<!-- navbar -->
<app-navbar></app-navbar>

<!-- Masthead-->
<header class="masthead" id="home">
  <div class="container">
    <div class="masthead-subheading">CARBON CODE</div>
    <!--div class="masthead-heading text-uppercase">It's Nice To Meet You</div-->
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#ecoles">Votre Impact</a>
  </div>
</header>

<!-- Service -->
<app-liste-service id="services"></app-liste-service>

<!-- Liste Ecole -->
<app-liste-ecole id="ecoles"></app-liste-ecole>

<!-- About-->
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">
        CO2 et climat</h2>
      <h3 class="section-subheading text-muted">Excès de CO2 change le climat de la Terre</h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/ocean.jpg" alt=""/>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>
              Acidification des océans</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Une partie du CO2 atmosphérique pénètre dans les océans et se transforme en acide carbonique,
              ce qui rend l’eau plus acide. Depuis les années 1950, l’acidité des océans a déjà augmenté d’un quart. Et
              le phénomène se poursuit avec un rythme jamais vu dans l’histoire de la Terre depuis 300 millions
              d’années. Plus acides, les océans deviennent moins capables d’absorber le CO2 .<br> Et beaucoup
              d’organismes
              marins de toute taille peinent à bien former leur coquilles ou leur squelette, alors que d’autres
              pourraient proliférer, telles certaines algues.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid"
                                         src="assets/img/about/usine.jpg"
                                         alt=""/>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Du combustible pour de l’électricité</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Dans le monde, la majorité de l’électricité est produite par des usines thermiques qui
              sont responsables du quart du CO2 rejeté par l’humanité. Elles brûlent du charbon, du pétrole ou du gaz
              pour chauffer de l’eau dont la vapeur fait tourner des turbines génératrices d’électricité. Ces usines
              participent aussi à polluer l’atmosphère.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/avionn.jpeg" alt=""/>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Avions: du CO2 émis en altitude</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Le trafic aérien consomme beaucoup de carburant fossile et représente 2 à 3% du CO2
              émis dans le monde. De plus, les réacteurs émettent leur CO2 et leur pollution en altitude, où leurs
              effets sur le climat sont particulièrement importants.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid"
                                         src="assets/img/about/Islande-Iceberg-01.jpg"
                                         alt=""/>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Libération du méthane</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">En Sibérie, comme dans le nord du Canada et en Alaska, le réchauffement est
              particulièrement marqué,
              surtout en hiver. Il déséquilibre non seulement la forêt boréale, mais menace aussi de dégeler le
              permafrost (sol gelé en permanence) – ce qui libérerait dans l’atmosphère d’immenses quantités de méthane
              (CH4 ). Ce gaz, produit par fermentation naturelle dans les tourbières, accroîtrait dramatiquement l’effet
              de serre et donc le réchauffement de la planète – sa libération serait un point de non-retour
              catastrophique.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid"
                                         src="assets/img/about/pollution.jpg"
                                         alt=""/>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- contact -->
<app-contact id="contact"></app-contact>

<!-- footer -->
<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-left">Copyright © Codify 2020</div>
      <div class="col-lg-4 my-3 my-lg-0">
        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
      </div>

    </div>
  </div>
</footer>
